.blog{
    .banner{
        height: auto !important;
        img{
        max-width: 100%;
        max-height: 100%;
        // object-fit: contain;
       }
       @media(min-width:768px){
         
         
       } 
       @media(max-width:768px){
        img{
            // max-height: 250px !important;
            height: 250px !important;
            width:auto
         }
       }
       
    }
    .blog-date{
        color:#777E90;
        font-size: 12px;
    }
    .blog-title{
        font-size: 25px;
        font-weight: 600;
    }
    .blog-details{
        font-size: 16px;
        font-weight: 400;
    }
    .blog-box{
        background-color: #222;
        padding: 30px;
        border-radius: 24px;
        img{
            width: 100%;
            height: 246px;
            object-fit: cover;
            border-radius: 24px;
        }
        .blog-date{
            color:#fff;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .blog-info{
            font-size: 19px;
        }
    }
    .blog-row{
        width: 80%;
        margin: auto;
        @media(max-width:500px){
            width: 100%;
        }
    }
}