.app {
  background-color: $main-background;
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 100px;
  }

  .banner {
    width: 100%;
    height: 517px;
    object-fit: cover;
    border-radius: 24px;
    overflow: hidden;
    img{
      width: auto;
      height: 100%;
    }
    @media (max-width: 768px) {
      height: 300px;
    }
  }

  .adress-description {
    width: 309px;
  }

  .map {
    iframe {
      margin: 100px 0;
      border-radius: 24px;
      width: 100%;
      height: 522px;
      filter: brightness(100%) contrast(100%) saturate(0%) blur(0)
        hue-rotate(0deg);
    }
  }

  .title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }

  .video-card {
    border-radius: 24px;
    background-color: #222;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 767px) and (max-width: 992px) {
      padding: 25px;
    }

    @media (max-width: 767px) {
      padding: 15px;
    }

    .image-wrapper {
      position: relative;
      height: 310px;
      border-radius: 24px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        font-size: 48px;
        border-radius: 50%;
        z-index: 1;
        background-color: #ffffff75;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          width: 45px;
          height: 45px;
          line-height: 45px;

          &::before {
            width: 45px;
            height: 45px;
          }
        }
      }
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .main-paragraph {
        font-size: 14px;
      }
    }
  }

  .testemonial-card {
    gap: 14px;
    position: relative;
    overflow: visible;
    padding: 20px;
    background-color: #222;
    border-radius: 24px;
    margin-top: 55px;
    align-items: center;

    .comma {
      position: absolute;
      left: 50px;
      top: -25px;
      width: 50px;
      height: 50px;
      z-index: 2;
      object-fit: contain;
    }

    .user {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: -65px;
    }

    .stars {
      color: $main-color;
    }
  }
  // Resturant Branchs
  .resturant-branchs {
    padding-bottom: 50px;
    .branch-details {
      .title {
        font-size: 25px;
      }
      .branch-box {
        background-color: #222;
        padding: 30px;
        border-radius: 24px;
        margin-top: 20px;
        img {
          padding-left: 30px;
          max-width: 100%;
          max-height: 100%;
          @media (max-width: 1200px) and (min-width: 992px) {
            max-width: 200px;
          }
        }
        .box-title {
          font-size: 26px;
          font-weight: 700;
        }
        .title-details {
          font-size: 18px;
          font-weight: normal;
          padding-bottom: 30px;
          padding-top: 20px;
          line-height: 2;
        }
        .show-resturant {
          margin-top: 10px;
        }
      }
    }
    @media (max-width: 530px) {
      .branch-box {
        img {
          max-width: 200px !important;
        }
        .box-title {
          font-size: 16px !important;
        }
        .title-details {
          font-size: 14px !important;
        }
        .show-resturant {
          font-size: 13px !important;
        }
      }
    }
    @media(max-width:400px){
      .branch-box {
        img {
          max-width: 150px !important;
        }
      }
    }
  }
  // branch details
  .branch-info {
    img {
      width:100%;
      border-radius: 24px;
      @media (min-width: 992px) {
        max-width: 95%;
        max-height: 805px;
      }
    }
    .branch-title {
      font-size: 28px;
      font-weight: 700;
      &.left-title {
        text-decoration: underline;
      }
    }
    .map {
      iframe {
        margin: 10px 0px;
      }
    }
  }
}
